//META{"name":"Discord Reimagined","description":"Taking what is already there while slowly but carefully nailing down each element to perfection.","author":"Neku","version":".test"}*//
/*  ____ _                            _
   / ___| |__   __ _ _ __  _ __   ___| |___
  | |   | '_ \ / _` | '_ \| '_ \ / _ \ / __|
  | |___| | | | (_| | | | | | | |  __/ \__ \
   \____|_| |_|\__,_|_| |_|_| |_|\___|_|___/ */

.guild-channels .channel-text .channel-name:before {
    content: '';
}
.guild-channels .channel-text a{
      padding: 8px 6px 10px 17px;
}



 /*__     __    _             ____ _           _
   \ \   / /__ (_) ___ ___   / ___| |__   __ _| |_
    \ \ / / _ \| |/ __/ _ \ | |   | '_ \ / _` | __|
     \ V / (_) | | (_|  __/ | |___| | | | (_| | |_
      \_/ \___/|_|\___\___|  \____|_| |_|\__,_|\__| */

.guild-channels .channel-voice:hover .channel-voice-states li .avatar-small {
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
}
.guild-channels .channel-voice .channel-voice-states li .avatar-small {
    transition: width .3s, height .3s, background-size .3s;
    transition-delay: .5s;
}
.guild-channels .channel-voice.audio .channel-arrow,
.guild-channels .channel-voice.audio .icon-lock {
    opacity: 0;
}
.guild-channels .channel-voice .channel-arrow {
    transition: opacity .3s, margin .3s;
    opacity: 0;
    margin-right: -16px;
}
.guild-channels .channel-voice:hover .channel-arrow {
    opacity: 1;
    margin-right: 8px;
}
.guild-channels .channel-voice-states {
    padding-left: 0px;
}
.channels-wrap {
    width: 224px;
}



/* buttons */
.account .btn-group {
    border: 1px solid transparent;
}
.account .btn-deafen, .account .btn-settings {
    -webkit-box-shadow: inset 0px 0 0;
}
.account .btn-deafen, .account .btn-mute {
    border-right: 1px solid transparent;
}
.account .btn {
    background: transparent;
}
.account .account-details {
    padding-right: 0px;
}
.account {
    height: 56px;
}

/* voice connection buttons */
#voice-connection .btn-group {
    border: 1px solid transparent;
}
#voice-connection .btn-disconnect {
    -webkit-box-shadow: inset 1px 0 0 transparent;
}
#voice-connection .btn-info {
    border-right: 1px solid transparent;
}
#voice-connection .btn {
    background: transparent;
  }
#voice-connection {
    padding-right: 4px;
}

/* Animation */
.guild-channels .channel a {
  transition: 0.1s;
}


/* sidebar */
.guilds-wrapper .guilds .guild.unread:before {
    height: 50px;
    border-radius: 0px;
    margin-top: -25px;
}
.guilds-wrapper .guilds .guild.selected:before, .guilds-wrapper .guilds .guild.unread:before {
    height: 50px;
    left: -14px;
    margin-top: -25px;
    border-radius: 0px;
}
.guilds-wrapper .guilds .guild .guild-inner {
    border-radius: 0px !important;
}
.guilds-wrapper .guilds .guild+.guild {
    margin-top: 2px;
}
.guilds-wrapper .guilds {
    padding: 18px 0 18px 6px;
}
.guilds-wrapper {
    width: 58px;
}
.guilds-wrapper .guilds .guild .badge {
    bottom: -2px;
    right: -2px;
}
.badge {
    border-radius: 0px;
    border: solid 2px #1e2124;
    -webkit-box-shadow: 0 0px 0 rgba(0,0,0,.25),inset 0 0px 0 rgba(255,255,255,.15);
}
